<a
  class="navbar-brand"
  href="{% url 'collector:index' %}"
  data-bs-toggle="tooltip"
  data-bs-html="true"
  data-bs-placement="bottom"
  data-bs-title="
    Version: {{ version }}
    <br>
    {% if environment != production %}
    Staging: {{ environment|capfirst }}
    {% endif %}
  "
>
  Logs Collector
  <i class="bi bi-file-earmark-zip-fill"></i>
</a>
<button
  class="navbar-toggler"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent"
  aria-expanded="false"
  aria-label="collapse nav fields"
>
  <span class="navbar-toggler-icon"></span>
</button>
