{% load collector_extras %}
<li 
  id="li-archive-{{ archive.id }}"
  class="list-group-item list-group-item-action">
  <smal>
    <b>File:</b>
    <span style="word-wrap: break-word">{{ archive.file.name|clean_filename }}</span>
  </small>
  <small>
    <br>
    <b>MD5:</b>
    <span style="word-wrap: break-word">{{ archive.md5 }}</span>
  </small>
  <small>
    <br>
    <b>Uploaded:</b>
    <span style="word-wrap: break-word">{{ archive.time_update|date:"D d.m.y H:i" }}</span>
  </small>
    <br>
  <small>
    <b>Size:</b>
    <span style="word-wrap: break-word">{{ archive.file.size|sizify }}</span>
  </small>
  <div class="row">
    <div class="d-flex justify-content-sm-start justify-content-between" >
      <a
        class="btn btn-outline-success btn-sm mt-2"
        href="{{ archive.get_absolute_url }}"
      ><i class="bi bi-download"></i> GET</a>
      <button
        button type="button"
        class="btn btn-outline-danger btn-sm ms-2 mt-2"
        data-bs-toggle="modal"
        data-bs-target="#modal-archive-del-{{ archive.id }}"
      ><i class="bi bi-trash"></i> DEL</button>
    </div>
  </div>
</li>
