<div class="container">
  <h5 class="card-title">Authentication</h5>
  <hr>
  <div class="row">
    <div class="col-lg-6">
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
          <input 
            type="text"
            class="form-control"
            placeholder="{{ request.user.username }}"
            aria-label="Username"
            disabled
            readonly
          >
        </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-shield-lock"></i></span>
        <input 
          type="password"
          class="form-control"
          placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
          aria-label="Password"
          disabled
          readonly
        >
        <a 
          type="button"
          class="btn btn-outline-danger"
          href="{% url 'account:password_change' %}"
        >
          <i class="bi bi-pencil-square"></i> Edit
        </a>
      </div>
    </div>
  </div>
</div>
