<div class="container">
  <h5 class="card-title">Profile</h5>
  <hr />
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-envelope-at"></i></span>
        <input type="text" class="form-control" placeholder="{{ request.user.email }}" aria-label="Email" disabled readonly>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">First name:</span>
        <input type="text" class="form-control" placeholder="{{ request.user.first_name }}" aria-label="Username" disabled readonly>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Last name:</i></span>
        <input type="text" class="form-control" placeholder="{{ request.user.last_name }}" aria-label="Email" disabled readonly>
      </div>
      <a
        href="{% url 'account:update_profile' %}"
        class="btn btn-outline-warning"
      >
        <i class="bi bi-pencil-square"></i> Edit
      </a>
    </div>
  </div>
</div>
