{% extends "two_factor/_base.html" %}

{% block content_wrapper %}
  <header>
    <section>
      {% block nav %}{% endblock nav %}
    </section>
  </header>
  
  <main>
    <section>
      <div class="container mt-3">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer mt-auto">
    <section>
      {% block footer_nav %}{% endblock footer_nav %}
    </section>
  </footer>
{% endblock %}
