<div
  class="modal fade"
  id="modal-ticket-del-{{ ticket.number }}"
  tabindex="-1"
  aria-labelledby="LabelTicket"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LabelTicket">
          Delete ticket #{{ ticket.number }} ?
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Deleting a ticket will also permanently delete all files associated with it.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <a
          type="button"
          href="{% url 'collector_api:ticket-detail' ticket.number %}"
          class="btn btn-danger btn-ticket-del"
          data-bs-dismiss="modal"
          data-jq-ticket-del-target="#div-ticket-{{ ticket.number }}"
          data-jq-ticket-del-redirect="{% url 'collector:tickets' %}"
          >Delete</a
        >
      </div>
    </div>
  </div>
</div>
