<div 
  class="modal fade"
  id="modal-archive-del-{{ archive.id }}"
  tabindex="-1"
  aria-labelledby="LabelArchive-{{ archive.id }}"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="LabelArchive-{{ archive.id }}">Delete this file?
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <p style="word-wrap: break-word">{{ archive.file }}</p>
      </div>
      <div class="modal-footer">
        <button 
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Cancel
        </button>
        <a
          href="{% url 'collector_api:archive-detail' archive.id %}"
          type="button"
          class="btn btn-danger btn-archive-eraser"
          data-bs-dismiss="modal"
          data-jq-archive-target="#li-archive-{{ archive.id }}"
        >Delete 
        </a>
      </div>
    </div>
  </div>
</div>
