{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    {% include 'collector/includes/metalinks.html' %}
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <header>
      <section>
        {% include 'collector/includes/navigation.html' %}
      </section>
    </header>
    <main>
      <section>
        {% block main %}{% endblock main %}
      </section>
    </main>
    <footer>
      <section>
        {% block footer %}{% endblock footer %}
      </section>
    </footer>
    <script src="{% static 'collector/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'collector/js/bs.theme.mode.js' %}"></script>
    <script src="{% static 'collector/js/jquery-3.7.0.min.js' %}"></script>
    {% block bs %}{% endblock bs %}
    {% block jquery %}{% endblock jquery %}
  </body>
</html>
