{% extends 'collector/base.html' %}
{% load static %}
{% load collector_extras %}
{% block title %} {{ title }} {% endblock title %}
{% block main %} 
<div class="container mt-3">
  {% csrf_token %}
  <div class="card">
    <div class="card-body" aria-current="true">
        {% include 'collector/includes/ticket_info.html' %}
      <div class="col-xl-6 mt-1 mb-2">
        {% if ticket.note %}
          <div class="card">
              <div class="card-header">
                Note:
              </div>
              <div class="card-body">
                <div class="card-text">
                  {{ ticket.note | markdown | safe }}
                </div>
              </div>
          </div>
        {% endif %}
      </div>
      <!-- Logs -->
      {% if ticket.archive_set.all %}
          <ul class="list-group col-xl-6 mb-2 mt-2">
            {% for archive in ticket.archive_set.all %}
              {% include 'collector/includes/ticket_archives.html' %}
            {% endfor %}
          </ul>
      {% endif %}
      <!-- Card buttons -->
      <div class="d-flex w-100 justify-content-between">
        <a
          href="{% url 'collector:update' ticket.platform.name ticket.number %}"
          class="btn btn-outline-warning mb-1 mt-1"
        ><i class="bi bi-pencil-square"></i> Edit</a>
        <button
          class="btn btn-outline-danger mb-1 mt-1"
          data-bs-toggle="modal"
          data-bs-target="#modal-ticket-del-{{ ticket.number }}"
        ><i class="bi bi-trash"></i> Delete
      </button>
      </div>
    </div>
  </div>
  <!-- Modal Archive -->
  {% for archive in ticket.archive_set.all %}
    {% include 'collector/includes/modal_archive.html' %}
  {% endfor %}
  <!-- Modal Ticket -->
  {% include 'collector/includes/modal_ticket.html' %}
</div>
{% endblock main %}
{% block jquery %}
  <script type="module" src="{% static 'collector/js/jq.ticket.detail.js' %}"></script>
{% endblock jquery %}
